php:
    memory_limit: 2G

parameters:
    bootstrap: "project/sylius/vendor/autoload.php"
    excludes_analyse:
        - %rootDir%/../../../project/sylius/src/**/spec/*
        - %rootDir%/../../../project/sylius/src/**/Tests/*
        - %rootDir%/../../../project/sylius/src/**/test/*
        - %rootDir%/../../../project/sylius/src/**/Fixture/*
        - %rootDir%/../../../project/sylius/src/**/*ODM*
        - %rootDir%/../../../project/sylius/src/**/DependencyInjection/Configuration.php
